.TODO

# I Was not able to finished these boxes either they retired or i wasn't able to.
Boxes/windows/Retired/pivotapi
Boxes/linux/Retired/static
Boxes/linux/Retired/earlyaccess

# Notes from ippsec videos.
ippsec-video.md

# Not for upload
temp

